.title {
  text-align: center;
  margin-bottom: 5rem;
}

.content {
  display: grid;
  grid-template-columns: 10fr 0.5fr 10fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: ". ." ". .";
  box-sizing: border-box;
}