.title {
  text-align: center;
  margin-bottom: 5rem;
}

.content {
  display: grid;
  grid-template-columns: 10fr 0.5fr 10fr;
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  height: calc(100% - 130px);
  box-sizing: border-box;
}